---
layout: default
permalink: /mnteams/
---

<div class="container mt-5">
  <h1 class="kk text-center">Minnesota Teams</h1>

<!--
For when the screen is smaller than md (phone)
-->
<div class="d-block d-md-none">

  <!--This is the dropdown for select thousand. In the small screen, all id links have an s after them to differentiate them from the large screen links -->
  <!--This prevents the page from setting multiple elements to the same id, which wouldn't work right -->
  <div class="dropdown d-block">
    <button class="dropbtn kk center">Select Thousand<i class="far fa-hand-point-down"></i></button>
    <div class="dropdown-content dropdown-menu-center">
      <a href="/mnteams/#1816s">1000s</a>
      <a href="/mnteams/#2052s">2000s</a>
      <a href="/mnteams/#3007s">3000s</a>
      <a href="/mnteams/#4009s">4000s</a>
      <a href="/mnteams/#5143s">5000s</a>
      <a href="/mnteams/#6022s">6000s</a>
      <a href="/mnteams/#7019s">7000s</a>
      <a href="/mnteams/#8234s">8000s</a>
    </div>
  </div>
  <br>

  <p class="text-center">Click team name for media links.</p>
  <table class="mnteams">
    <tr class="mnteamsHeader">
      <th>#</th>
      <th>Name</th>
    </tr>
    {% for def in site.data.teams %}
      <tr>

        {% assign num = def.TeamNumber | plus: 0 %} <!--creates variable for the team number -->

        <!--assigns col to different shade depending on team number. used later to set cell colors-->
        {% if num < 2000 %}
          {% assign col = "ffffff" %}
        {% elsif num < 3000 %}
          {% assign col = "f9f9f9" %}
        {% elsif num < 4000 %}
          {% assign col = "f2f2f2" %}
        {% elsif num < 5000 %}
          {% assign col = "EAEAEA" %}
        {% elsif num < 6000 %}
          {% assign col = "DBDBDB" %}
        {% elsif num < 7000 %}
          {% assign col = "D3D3D3" %}
        {% elsif num < 8000 %}
          {% assign col = "CCCCCC" %}
        {% elsif num < 9000 %}
          {% assign col = "C4C4C4" %}
        {% endif %}

        <td width="20%" class="mnteamsList glossary-term" style="background: #{{ col }};"><a name="{{ def.TeamNumber }}"/>{{ def.TeamNumber }}</td>
        <td id="{{ def.TeamNumber }}s" colspan="4" class="mnteamsList glossary-term toggler" style="background: #{{ col }};" data-teamnumber="{{ def.TeamNumber }}">{{ def.TeamName }}<i class="fas fa-sort-down"></i></td>
      </tr>

      <tr id="alinks{{ def.TeamNumber }}" style="display: none;"> <!--sets initial display of this tr to hidden and assigns a unique id for every team -->
        <td width="20%" class="mnteamsList text-center" style="background: #{{ col }};"></td>

        <!--puts NA if no link-->
        {% if def.Website == "NA" %}
          <td width="26.66%" class="mnteamsList text-center" style="font-size: 18px; background: #{{ col }};">NA</td>
        {% else %}
          <td width="26.66%" class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.Website}}"><i class="fas fa-align-center"></i></a></td>
        {% endif %}

        {% if def.Twitter == "NA" %}
          <td width="26.66%" class="mnteamsList text-center" style="font-size: 18px; background: #{{ col }};">NA</td>
        {% else %}
          <td width="26.66%" class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.Twitter}}"><i class="fab fa-twitter-square"></i></a></td>
        {% endif %}

        {% if def.Facebook == "NA" %}
          <td width="26.66%" class="mnteamsList text-center" style="font-size: 18px; background: #{{ col }};">NA</td>
        {% else %}
          <td width="26.66%" class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.Facebook}}"><i class="fab fa-facebook-square"></i></a></td>
        {% endif %}

      </tr>
      <tr id="blinks{{ def.TeamNumber }}" style="display: none;">
        <td width="20%" class="mnteamsList text-center" style="background: #{{ col }};"></td>

        {% if def.Instagram == "NA" %}
          <td width="26.66%" class="mnteamsList text-center" style="font-size: 18px; background: #{{ col }};">NA</td>
        {% else %}
          <td width="26.66%" class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.Instagram}}"><i class="fab fa-instagram"></i></a></td>
        {% endif %}

        {% if def.Youtube == "NA" %}
          <td width="26.66%" class="mnteamsList text-center" style="font-size: 18px; background: #{{ col }};">NA</td>
        {% else %}
          <td width="26.66%" class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.Youtube}}"><i class="fab fa-youtube-square"></i></a></td>
        {% endif %}

        <td width="26.66%" class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.TBA}}"><i class="fas fa-chess-rook"></i></a></td>
      </tr>

      <script>
        $(document).ready(function(){
          $(".toggler").click(function(e){
              var num = e.target.id; //gets the id of clicked element
              e.preventDefault();
              $("#alinks"+num).toggle(); //creates the string of the tr's id and toggles between shown and hidden
              $("#blinks"+num).toggle();
          });
        });
      </script>

      {% endfor %}

      <tr class="mnteamsHeader">
        <th colspan="8" class="text-center"><a class="mnteamsTop" href="/mnteams/#1816s">Top <i class="fas fa-arrow-circle-up"></i></a></th>
      </tr>

  </table>

</div>

<!--
For screen sizes larger than sm
-->
  <div class="hidden-sm">

    <div class="dropdown d-block"> <!--This is the dropdown for select thousand. In the large screens, the id links are different than the small screen ones -->
      <button class="dropbtn kk center">Select Thousand<i class="far fa-hand-point-down"></i></button>
      <div class="dropdown-content dropdown-menu-center">
        <a href="/mnteams/#1816">1000s</a>
        <a href="/mnteams/#2052">2000s</a>
        <a href="/mnteams/#3007">3000s</a>
        <a href="/mnteams/#4009">4000s</a>
        <a href="/mnteams/#5143">5000s</a>
        <a href="/mnteams/#6022">6000s</a>
        <a href="/mnteams/#7019">7000s</a>
        <a href="/mnteams/#8234">8000s</a>
      </div>
    </div>
    <br>

    <table class="mnteams">
      <tr class="mnteamsHeader">
        <th>#</th>
        <th>Name</th>
        <th>Website</th>
        <th>Twitter</th>
        <th>Facebook</th>
        <th>Instagram</th>
        <th>YouTube</th>
        <th>TBA</th>
      </tr>
    {% for def in site.data.teams %}
      <tr>
        {% assign num = def.TeamNumber | plus: 0 %} <!--creates variable for the team number -->

        <!--assigns col to different shade depending on team number. used later to set cell colors-->
        {% if num < 2000 %}
          {% assign col = "ffffff" %}
        {% elsif num < 3000 %}
          {% assign col = "f9f9f9" %}
        {% elsif num < 4000 %}
          {% assign col = "f2f2f2" %}
        {% elsif num < 5000 %}
          {% assign col = "EAEAEA" %}
        {% elsif num < 6000 %}
          {% assign col = "DBDBDB" %}
        {% elsif num < 7000 %}
          {% assign col = "D3D3D3" %}
        {% elsif num < 8000 %}
          {% assign col = "CCCCCC" %}
        {% elsif num < 9000 %}
          {% assign col = "C4C4C4" %}
        {% endif %}

        <td class="mnteamsList glossary-term" style="background: #{{ col }};"><a name="{{ def.TeamNumber }}"/>{{ def.TeamNumber }}</td>

        <td id="{{ def.TeamNumber }}" class="mnteamsList glossary-term" style="background: #{{ col }};">{{ def.TeamName }}</td>

        <!--puts NA if no link-->
        {% if def.Website == "NA" %}
          <td class="mnteamsList text-center" style="font-size: 18px; background: #{{ col }};">NA</td>
        {% else %}
          <td class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.Website}}"><i class="fas fa-align-center"></i></a></td>
        {% endif %}

        {% if def.Twitter == "NA" %}
          <td class="mnteamsList text-center" style="font-size: 18px; background: #{{ col }};">NA</td>
        {% else %}
          <td class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.Twitter}}"><i class="fab fa-twitter-square"></i></a></td>
        {% endif %}

        {% if def.Facebook == "NA" %}
          <td class="mnteamsList text-center" style="font-size: 18px; background: #{{ col }};">NA</td>
        {% else %}
          <td class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.Facebook}}"><i class="fab fa-facebook-square"></i></a></td>
        {% endif %}

        {% if def.Instagram == "NA" %}
          <td class="mnteamsList text-center" style="font-size: 18px; background: #{{ col }};">NA</td>
        {% else %}
          <td class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.Instagram}}"><i class="fab fa-instagram"></i></a></td>
        {% endif %}

        {% if def.Youtube == "NA" %}
          <td class="mnteamsList text-center" style="font-size: 18px; background: #{{ col }};">NA</td>
        {% else %}
          <td class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.Youtube}}"><i class="fab fa-youtube-square"></i></a></td>
        {% endif %}

          <td class="mnteamsList text-center" style="background: #{{ col }};"><a href="{{def.TBA}}"><i class="fas fa-chess-rook"></i></a></td>
      </tr>
    {% endfor %}

    <tr class="mnteamsHeader">
      <th colspan="8" class="text-center"><a class="mnteamsTop" href="/mnteams/#1816">Top <i class="fas fa-arrow-circle-up"></i></a></th>
    </tr>

    <table>
  </div>
</div>
<!-- Colors for grey gradient background. Each a percent of 255 to create the color hexadecimals
1000s - .98 - #f9f9f9     2000s - .95 - #f2f2f2
3000s - .92 - #EAEAEA     4000s - .89 - #E2E2E2
5000s - .86 - #DBDBDB     6000s - .83 - #D3D3D3
7000s - .80 - #CCCCCC     8000s - .77 - #C4C4C4 -->
