<nav class="navbar navbar-expand-lg navbar-dark maroon-bg">
  <a class="navbar-brand" href="/"><img src="/assets/images/logo-xs.png" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link-custom nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link-custom nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Team
            </a>
            <div class="nav-dropdown-custom dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/team/">Overview</a>
              <a class="dropdown-item" href="/members/">Members</a>
              <a class="dropdown-item" href="/history/">History</a>
              <a class="dropdown-item" href="/stats/">Stats by Year</a>
              <a class="dropdown-item" href="/robots/">Robots</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/sponsors/">Sponsors</a>
              <a class="dropdown-item" href="/photos/">Photos</a>
              <a class="dropdown-item" href="/videos/">Videos</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link-custom nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Info
            </a>
            <div class="nav-dropdown-custom dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/frckrawler/">FRC Krawler</a>
              <a class="dropdown-item" href="/first/">About FIRST</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/contact/">Contact Us</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link-custom nav-link" href="/calendar/">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link-custom nav-link" href="/pok/">Parents</a>
          </li>
        </ul>
      </div>
</nav>
