<div class="wiki-sidebar-nav">
    <nav class="nav flex-column">
        <h3>2052 Wiki</h3>

        <div class="nav-item d-flex align-items-center">
            <span>
                <a href="/wiki/" class="wiki-tocchapter{% if page.url == '/wiki/' %} active{% endif %}">Table of Contents</a>
            </span>
        </div>
        {% for chapter in site.data.wiki.chapters %}
        {% assign chapter_num = forloop.index %}
        {% assign chapter_id = "chapter-" | append: chapter_num %}


        {% assign chapter_url = chapter.url %}
        {% assign chapter_should_expand = false %}
        {% if chapter.url == page.url %}
        {% assign chapter_should_expand = true %}
        {% else %}
        {% if chapter.sections %}
        {% for section in chapter.sections %}
        {% if chapter_url %}
        <!--nothing to do-->
        {% elsif section.url%}
        {% assign chapter_url = section.url %}
        {% endif %}
        {% if page.url == section.url %}
        {% assign chapter_should_expand = true %}
        {% endif %}
        {% if section.subsections %}
        {% for subsection in section.subsections %}
        {% if chapter_url %}
        <!--do nothing-->
        {% elsif subsection.url %}
        {% assign chapter_url = subsection.url %}
        {% endif %}
        {% if page.url == subsection.url %}
        {% assign chapter_should_expand = true %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endif %}

        <div class="nav-item d-flex align-items-center wiki-navchapter {% if page.url == chapter.url %} wiki-activelink{% endif %}">
            {% if chapter.sections %}
            <button class="wiki-caret-btn btn btn-link p-0 mr-2 "
                    type="button" width="30"
                    data-toggle="collapse"
                    data-target="#{{ chapter_id }}"
                    aria-expanded="{% if chapter_should_expand %}true{% else %}false{% endif %}"
                    aria-controls="{{ chapter_id }}">
                <svg class="wiki-caret" width="20" height="20" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z" />
                </svg>
            </button>
            {% else %}
            <button class="wiki-caret-btn btn btn-link p-0 mr-2" type="button" width="30">
                <svg class="wiki-caret" width="20" height="20" fill="transparent" viewBox="0 0 16 16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z" />
                </svg>
            </button>
            {% endif %}
            <div class="d-flex flex-row" style="width:100%;">
                <div class="wiki-chapter-number" style="min-width: 15px;">{{ chapter_num }}.&nbsp;&nbsp;</div>
                <div class="wiki-chapter-title" style="flex:1;">
                    {% if chapter_url %}
                    <a href="{{ chapter_url }}">{{ chapter.title }}</a>
                    {% else %}
                    <span class="wiki-tocchapter">{{ chapter.title }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if chapter.sections %}
        <div class="collapse{% if chapter_should_expand %} show{% endif %}" id="{{ chapter_id }}">
            <nav class="nav flex-column ml-3">
                {% for section in chapter.sections %}
                {% assign section_num = forloop.index %}
                {% assign section_id = chapter_id | append: "-section-" | append: section_num %}

                {% assign section_url = section.url %}
                {% assign section_should_expand = false %}
                {% if section.url == page.url %}
                {% assign section_should_expand = true %}
                {% else %}
                {% if section.subsections %}
                {% for subsection in section.subsections %}
                {% if section_url == "" and subsection.url != "" %}
                {% assign section_url = subsection.url %}
                {% endif %}
                {% if page.url == subsection.url %}
                {% assign section_should_expand = true %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endif %}

                <div class="nav-item d-flex align-items-center wiki-navsection  {% if page.url == section.url %} wiki-activelink{% endif %}">
                    {% if section.subsections %}
                    <button class="wiki-caret-btn btn btn-link p-0 mr-2" type="button"
                            data-toggle="collapse"
                            data-target="#{{ section_id }}"
                            aria-expanded="{% if section_should_expand %}true{% else %}false{% endif %}"
                            aria-controls="{{ section_id }}">
                        <svg class="wiki-caret" width="20" height="20" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z" />
                        </svg>
                    </button>
                    {% else %}
                    <button class="wiki-caret-btn btn btn-link p-0 mr-2" type="button" width="30">
                        <svg class="wiki-caret" width="20" height="20" fill="transparent" viewBox="0 0 16 16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z" />
                        </svg>
                    </button>
                    {% endif %}
                    <div class="d-flex flex-row">
                        <div class="wiki-section-number" style="min-width: 25px;">{{ chapter_num }}.{{ section_num }}&nbsp;&nbsp;</div>
                        <div class="wiki-section-title" style="flex:1;">
                            {% if section_url %}
                            <a href="{{ section_url }}">{{ section.title }}</a>
                            {% else %}
                            <span>{{ section.title }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if section.subsections %}
                <div class="collapse{% if section_should_expand %} show{% endif %}" id="{{ section_id }}">
                    <nav class="nav flex-column ml-3 wiki-navsubsection">
                        {% for subsection in section.subsections %}
                        <div class="{% if page.url == subsection.url %} wiki-activelink{% endif %}">
                            {% if subsection.url %}
                            <a href="{{ subsection.url }}">{{ subsection.title }}</a>
                            {% else %}
                            <span>{{ subsection.title }}</span>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </nav>
                </div>
                {% endif %}
                {% endfor %}
            </nav>
        </div>
        {% endif %}
        {% endfor %}
    </nav>
</div>
