
/* these are custom variables for comon reuse */
:root {
  --maroon-color: #732626;
  --gold-color: #FCC20B;
}

@font-face {
    font-family: "Knightkrawler";
    src: url("/assets/fonts/Knightkrawler.ttf");
}

.kk {
    font-family: Knightkrawler;
}

.maroon {
    color: var(--maroon-color, black);
}

.gold {
    color: var(--gold-color, white);
}

.maroon-bg {
    background-color: var(--maroon-color, black);
}

.gold-bg {
    background-color: var(--gold-color, white);
}
