a {
  color: #333333;
}
a:hover,
a:focus {
  color: var(--maroon-color, black);
}

blockquote {
  color: #777777;
  font-style: italic;
}

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #333333;
  -webkit-tap-highlight-color: #0085A1;
}

#countdown {
  font-family: "KnightKrawler";
  color: #FCC20B; /* gold */
  text-align: center;
  font-size: 50px;
}

@font-face {
    font-family: "Knightkrawler";
    src: url("/assets/fonts/Knightkrawler.ttf");
}

footer {
  padding: 10px 0 15px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10;
  color: var(--maroon-color, black);
  padding-top: 10px;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

i.fa-arrow-circle-right {
  color: var(--maroon-color, black);
}

img.max-200 {
  max-width: 200px;
  max-height: 200px;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

p {
  line-height: 1.5;
  margin: 0 0 15px 0;
}
p a {
  text-decoration: underline;
}

:root {
  /* these are custom variables for comon reuse */
  --maroon-color: #732626;
  --gold-color: #FCC20B;
  --shaded-color: #eeeeee;
  --green-color: #0ca655; /*for girl scout page*/
}

/* BEGIN Special browser stuff */
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
/* END Special browser stuff */


.auto-resize-landscape {
height: 150px;
}

@media only screen and (max-width: 767px) {
  .auto-resize-landscape {
  height: 80px;
  }
}

/* START Banner*/
.banner {
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  background:#0f4bcb;
  color:white;
  height:170px;
  width:140px;
  line-height:1.2;
  margin:0 0 40px;
  padding: 5px;
  margin-top: 30px;
  margin-left: 30px;
  position:relative;
  text-align:center;
  vertical-align:top;
  white-space:normal;
}

.banner .award-name,.banner .award-name-long{
  display:table;
  width:100%;
  height:35px;
  font-weight:bold;
  margin:0;
  margin-top:3px;
  margin-bottom:3px
}

.banner .award-name span,.banner .award-name-long span{
  display:table-cell;
  vertical-align:middle;
  font-style:italic;
  text-transform:uppercase
}

.banner .award-name-long span{
  font-size:85%
}

.banner .award-event,.banner .award-event-long{
  display:table;
  text-transform:uppercase;
  height:50px;
  width:100%
}

.banner .award-event span,.banner .award-event-long span{
  display:table-cell;
  vertical-align:middle;
  max-width:124px;
  text-overflow:ellipsis;
  overflow:hidden
}

.banner .award-event{
  font-size:85%;
  line-height:130%
}

.banner .award-event-long{
  font-size:75%;
  line-height:110%
}

.banner, .banner:after{
  -webkit-filter:drop-shadow(0 5px 5px rgba(0,0,0,0.1));
  filter:drop-shadow(0 5px 5px rgba(0,0,0,0.1))
}

.banner:after{
  content:'';
  position:absolute;
  display:block;
  border:70px solid #0f4bcb;
  border-top-width:5px;
  border-bottom:20px
  transparent solid;
  top:100%;
  left:0
  }

.banner img{
  margin-bottom:10px;
  margin-top:10px;
  width:75px;
  max-height:45px;
  }

.bannerstate {
  margin-bottom:0px!important;
  margin-top:10px;
  width:80px!important;
  max-height:70px!important;
}

/*END banner*/

/* Margins */

.big_drop {
  margin-top:8rem!important;
}

.big_indent {
    margin-left: 4.5rem!important;
}

.bigger_indent {
    margin-left: 12rem!important;
}

.bigger_indent_right {
    margin-right: 12rem!important;
}

@media only screen and (max-width: 767px) {
  .big_indent {
      margin-left: 1rem!important;
  }

  .bigger_indent {
      margin-left: 1rem!important;
  }

  .bigger_indent_right {
      margin-right: 1rem!important;
  }
}

/* END Margins*/

.bottomline {
  border-bottom: 1px solid var(--maroon-color, black);
}

/* BEGIN Buttons */
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default:hover, .btn-default:focus {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: white;
}
/* END Buttons */

.card-kk {
  margin: 0 30px;
}

.card-kk .card-heading {
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: var(--gold-color, white);
  background-color:  var(--maroon-color, black);
}

/*card-greens are for Girl Scouts page*/
.card-kk-green {
  margin: 0 30px;
}

.card-kk-green .card-heading-green {
  width: 100%;
  font-size: 24px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
  background-color:  var(--green-color, black);
}

.card-heading-green {
 width: 100%;
 font-size: 22px;
 line-height: 24px;
 height: 80px;
 vertical-align: middle;
 text-align: center;
 color: white;
 background-color:  var(--green-color, black);
}
/*End of Girl Scout cards*/

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.captionMatch {
  font-size: 16px;
}

.captionMatchComp {
  font-weight: bold;
  font-size: 18px;
}

.captionMembers {
  text-align: center;
  padding: 0px;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.carousel-control-next-icon {
  color: var(--maroon-color, black);
}

.carousel-control-prev-icon {
  color: var(--maroon-color, black);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* END Close Button*/

.closingx {
  padding: 15px!important;
}

.core-value {
 margin: 0 2px;
}

.core-value .card-heading {
 width: 100%;
 font-size: 22px;
 line-height: 24px;
 height: 80px;
 vertical-align: middle;
 text-align: center;
 color: var(--gold-color, white);
 background-color:  var(--maroon-color, black);
}

.core-value .card-body{
  font-size:14px;
}

/*dropdown menu*/
.dropbtn {
  background-color: var(--maroon-color, black);
  color: white;
  padding: 16px;
  margin-top: 30px;
  font-size: 20px;
  border: none;
  width: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-content {
  display: inline-block;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.dropdown-content a {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--maroon-color, black);
  color:var(--gold-color, white);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--gold-color, white);
}
/*END dropdown menu*/

.dropdown-small {
  color: var(--maroon-color, black);
  margin-top: 2px;
  font-size: 20px;
  border: none;
  width: 5px;
}

.faq-q {
  font-weight: bold;
  font-style: italic;
}

.faq-a {
  padding-left: 2em;
  padding-bottom: 10px;
}

.faq-a a {
  text-decoration-style: underline;
  color: var(--maroon-color, black);
}

.fixed {
  position: fixed;
}

.fixedheader {
  max-height: 500px;
  overflow-y: auto;
}

.footnote {
  font-size: 12px;
  font-color: #eeeeee;
}

.footnote-ref {
  font-size:70%;
  vertical-align: super;
  font-color: #eeeeee;
}

.gameDescription {
  font-size:15px;
}

.gameVideo {
  height: auto;
  width:auto;
  padding-left:5px;
}

.glossary {
  background: #eeeeee;
  width: 100%;
}

.glossary-term {
  font-weight: bold;
  font-style: italic;
  padding-left: 10px;
  vertical-align: top;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
  color: var(--maroon-color, black);
}

.glossary-definition {
  vertical-align: top;
  padding-top: .5em;
  padding-bottom: .5em;
}

.gold {
    color: var(--gold-color, white);
}

.gold-bg {
    background-color: var(--gold-color, white);
}

.gold-progress {
  height: 30px;
}

.gold-progress .progress-bar {
  background-color: var(--gold-color, white);
  color: var(--maroon-color, black);
  font-weight: 700;
  padding-right:5px;
  text-align: right;
  height: 30px;
  font-size: 18px;
}

.green {
    color: var(--green-color, black);
}

.hangingindent {
  padding-left: 30px;
  text-indent: -35px;
}

@media (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}

.highlight {
  background-color: rgba(0,0,0,.5);
}

/* Hero banner on home page */
.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}

.intro-header .site-heading {
  padding: 100px 0 0;
  text-align: center;
  color: var(--gold-color, white);
}

/* if the page is more than 1000px wide, change top padding */
@media only screen and (min-width: 1000px) {
  .intro-header .site-heading {
    padding: 150px 0;
  }
}

.intro-header .site-heading h1 {
  font-size: 50px;
  padding: 150px 0 0;
  font-family: Knightkrawler;
}

.intro-header .site-heading h2 {
  font-size: 25px;
  font-family: Knightkrawler;
}

/* if the page is more than 1000px wide, change font sizes */
@media only screen and (min-width: 1000px) {
  .intro-header .site-heading h1 {
    font-size: 80px;
  }
}

@media only screen and (min-width: 1000px) {
  .intro-header .site-heading h2 {
    font-size: 40px;
  }
}
/*END hero banner*/

/* team photo popup stuff */
.image-highlight{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.image-highlight:hover {opacity: 0.7;}
/*END team photo */

.kk {
    font-family: Knightkrawler;
}

.linkbutton {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: var(--gold-color, white);
  background-color: var(--maroon-color, black);
  display:block;
  margin-bottom:5px;
  font-weight: bold;
}

.main {
  margin-top: 100px;
  margin-left: 30px;
  padding: 0px 10px;
}

.maroon {
    color: var(--maroon-color, black);
}

.maroon-bg {
    background-color: var(--maroon-color, black);
}

.mnteams {
  width: 100%;
  border: 1px solid #cfc0c0; /* light maroon color*/
  background-color: var(--maroon-color, black);
}

.mnteamsList {
  border: 1px solid #cfc0c0;
  border-collapse: collapse;
  padding: 5px;
  background: #f2f2f2;
}

.mnteamsHeader {
  height: 10px;
  color: white;
  border: 1px solid black;
  border-collapse: collapse;
}

.mnteamsTop {
  color: white;
  font-size: 17px;
}

.mnteamsTop:hover {
  color: var(--gold-color, white);
}

.mnbutton {
  display: none;
}

.mnSelection {
  border: 1px solid var(--maroon-color, black);
}

.mName {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.mRole {
    font-style: italic;
    font-size: 16px;
}

.memberPhotos {
  padding-top:10px;
  width:250px;
  height:200px;
}

/* sideSlider */
@media (max-width: 576px) {
  .model-dialog .modal-dialog-slideout {
  width: 80%;
  }}

.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 auto 0 0;
  background: #fff;
}

.modal .fade .modal-dialog .modal-dialog-slideout {
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0);
}

.modal .fade .show .modal-dialog .modal-dialog-slideout {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  flex-flow: column;
}

.modal-dialog-slideout .modal-content {
  border: 0;
}

.modal {
  height: 600px;
}
/*END side slider*/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1500px;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-content-members {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  height: 150px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/*END modal*/

.margin {
  margin-bottom: 50px;
  margin-top: 50px;
}

.news {
  border-color: var(--maroon-color, black);
}
.news .card-heading {
  padding-left: 15px;
  font-size: 24px;
  color: var(--gold-color, white);
  background-color:  var(--maroon-color, black);
}

.news .card-body {
  background-color: var(--shaded-color, lightgray);
}

/*------------ BEGIN: HERO, NAVIGATION STYLES --------------*/
/* Navigation Menu: change the link color */
.nav-link-custom {
    color: rgba(255,255,255, 1) !important;
}
/* Navigation Menu: change the color of active or hovered links */
.nav-link-custom:active,
.nav-link-custom:focus,
.nav-link-custom:hover {
    color: var(--gold-color, white) !important;
}
/* Navigation Menu: change the dropdown menu */
.nav-dropdown-custom {
    background-color: #602020;
}
/* Navigation Menu: change the link color */
.nav-dropdown-custom .dropdown-item {
    color: rgba(255,255,255, 1);
}
/* Navigation Menu: change the link color */
.nav-dropdown-custom .dropdown-item:active,
.nav-dropdown-custom .dropdown-item:focus,
.nav-dropdown-custom .dropdown-item:hover {
    color: var(--gold-color, white);
    background-color: #602020;
}
/*------------ END: HERO, NAVIGATION STYLES --------------*/

.padding {
  padding-top: 10px;
  padding-bottom: 0px;
}

.photo {
  height: auto;
  width:100%;
  max-width:450px;
  padding-left:20px;
  padding-right: 20px;
}

.post-title {
  text-align: center;
}

.post-description {

}

.progress-caption {
  font-size: 15px;
}

.results-padding{
  padding-bottom: 10px;
  padding-top: 10px;
}

.robotInfo {
  font-size: 17px;
}

.robotPhoto {
  height: 300px;
  width:auto;
  padding-bottom: 30px;
}

.sponsor-row {
  margin: 0 20px 40px 20px
}

.sidenav {
  z-index: 1;
  left:0px;
  overflow-x:hidden;
  position:absolute;
}

.sidenav a {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 15px;
  color: var(--gold-color, white);
  background-color: var(--maroon-color, black);
  display:block;
  margin-bottom:5px;
  font-weight: bold;
}

.sidenav a:hover {
  color: var(--gold-color, white);
}

.statepadding {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}

.stemdesc {
  border: 5px solid var(--maroon-color, black);
}

.team-wide-photo {
  width: 80%;
}

@media only screen and (max-width: 1200px){
  .team-wide-photo {
    width: 100%;
  }
}

.topline {
  border-top: 1px solid var(--maroon-color, black);
}

.twitterbutton {
  background-color: var(--maroon-color, black);
  padding-top: 10px;
}

.twittertext {
  color: white;
}

.twittertext:hover {
  color: var(--gold-color, white);
}

@media (min-width: 950px){
  .verticalLine {
    border-right: 1px solid maroon;
    border-left: 0;
    height: 100%;
  }
}

.verticalCenter {
  vertical-align: middle;
}

.video {
  padding-top:10px;
  padding-left:5px;
  padding-right:5px;
  width:auto;
  height:auto;
}

.youtube {
width: 560px;
height: 315px;
}
@media only screen and (max-width: 767px) {
  .youtube {
  width: 280px;
  height: 157.5px;
  }
}
