<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="dropdown d-block d-md-none">
  <button class="dropbtn kk center">Select Year <i class="far fa-hand-point-down"></i></button>
  <div class="dropdown-content dropdown-menu-center">
    <a class="text-center" href="/history/2024crescendo/">2024 Crescendo</a>
    <a class="text-center" href="/history/2023chargedup/">2023 Charged Up</a>
    <a class="text-center" href="/history/2022rapidreact/">2022 Rapid React</a>
    <a class="text-center" href="/history/2021gamechangers/">2021 Game Changers</a>
    <a class="text-center" href="/history/2020infiniterecharge/">2020 Infinite Recharge</a>
    <a class="text-center" href="/history/2019deepspace/">2019 Deep Space</a>
    <a class="text-center" href="/history/2018powerup/">2018 Powerup</a>
    <a class="center" href="/history/2017steamworks/">2017 Steamworks</a>
    <a class="center" href="/history/2016stronghold/">2016 Stronghold</a>
    <a class="center" href="/history/2015recyclerush/">2015 Recycle Rush</a>
    <a class="center" href="/history/2014aerialassist/">2014 Aerial Assist</a>
    <a class="center" href="/history/2013ultimateascent/">2013 Ultimate Ascent</a>
    <a class="center" href="/history/2012reboundrumble/">2012 Rebound Rumble</a>
    <a class="center" href="/history/2011logomotion/">2011 Logomotion</a>
    <a class="center" href="/history/2010breakaway/">2010 Breakaway</a>
    <a class="center" href="/history/2009lunacy/">2009 Lunacy</a>
    <a class="center" href="/history/2008overdrive/">2008 Overdrive</a>
    <a class="center" href="/history/2007racknroll/">2007 Rack'N'Roll</a>
    <a class="center" href="/history/covid/">COVID19 Response</a>
  </div>
</div>
    <div class= "col-md-2 sidenav main hidden-sm">
      <a class="text-center kk year" href="/history/2024crescendo/">2024 Crescendo</a>
      <a class="text-center kk year" href="/history/2023chargedup/">2023 Charged Up</a>
      <a class="text-center kk year" href="/history/2022rapidreact/">2022 Rapid React</a>
      <a class="text-center kk year" href="/history/2021gamechangers/">2021 Game Changers</a>
      <a class="text-center kk year" href="/history/2020infiniterecharge/">2020 Infinite Recharge</a>
      <a class="text-center kk year" href="/history/2019deepspace/">2019 Deep Space</a>
      <a class="text-center kk year" href="/history/2018powerup/">2018 Power Up</a>
      <a class="text-center kk year" href="/history/2017steamworks/">2017 Steamworks</a>
      <a class="text-center kk year" href="/history/2016stronghold/">2016 Stronghold</a>
      <a class="text-center kk year" href="/history/2015recyclerush/">2015 Recycle Rush</a>
      <a class="text-center kk year" href="/history/2014aerialassist/">2014 Aerial Assist</a>
      <a class="text-center kk year" href="/history/2013ultimateascent/">2013 Ultimate Ascent</a>
      <a class="text-center kk year" href="/history/2012reboundrumble/">2012 Rebound Rumble</a>
      <a class="text-center kk year" href="/history/2011logomotion/">2011 Logomotion</a>
      <a class="text-center kk year" href="/history/2010breakaway/">2010 Breakaway</a>
      <a class="text-center kk year" href="/history/2009lunacy/">2009 Lunacy</a>
      <a class="text-center kk year" href="/history/2008overdrive/">2008 Overdrive</a>
      <a class="text-center kk year" href="/history/2007racknroll/">2007 Rack N'Roll</a>
      <a class="text-center kk year" href="/history/covid/">COVID19 Response</a>
    </div>

    {{ content }}

    {% include footer.html %}
  </body>
</html>
